.user-detail {
  padding: 20px;
}

.user-detail .MuiTypography-body1 {
  margin-bottom: 12px;
}

.photo-link-container {
  margin-top: 20px;
}

.photo-link {
  text-decoration: none;
  font-weight: bold;
  color: #1976d2;
}

.photo-link:hover {
  text-decoration: underline;
}
